@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS at the end of your CSS file */
body{
  background-color:white;
}
.outercontainer {
  position: relative;
  margin-top: 0px; /* Adjust this margin as needed */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100vh;
  width: auto;
  background: linear-gradient(to right, #353030, #030347);

}

.button-container {
  position: absolute;
  top: 50px;
  left: 60px;
  right: 50px;
  width: 90%;
  background-color: white; /* White background with some transparency */
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 80px; /* Adjust the value as needed for the desired roundness */
  box-shadow: inset 0 0 10px rgba(93, 97, 100, 0.3);
}

.nav-button {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  margin: 0 10px;

  border-radius: 5px;
  background-color: white;
}

.nav-button:hover {
  background-color: #333;
  color: white;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Adjust the value as needed for the desired roundness */
  box-shadow: 0 4px 8px rgba(66, 60, 60, 0.2); /* Adjust the values for the shadow effect */
}
.logo {
  width: 20%; /* Adjust the logo size as needed */
  height: 50px; /* Adjust the logo size as needed */
  margin-right: 20px; /* Adjust the margin as needed */
}

.nav-buttons {
  display: flex;
}

.login-button {
  display: flex;
  align-items: center;
  color: #333;
  padding: 10px;
}

.login-button img {
  width: 30px; /* Adjust the size of the login button image */
  height: 30px; /* Adjust the size of the login button image */
}
.right-div {
  position: absolute;
  top: 200px;
  margin-left: 990px;
  right: 180px;
  width: 20%; /* Adjust the width as needed */
  height: 65%;
  background-color: white;
  z-index: 0;
  border-radius: 10px;
}

.left-div {
  position: absolute;
  top: 200px;
  left: 120px; /* Changed "margin-left" to "left" */
  right: 20;
  width: 55%; /* Adjust the width as needed */
  height: 65%; /* Adjust the height as needed */
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the opacity as needed */
  border-radius: 10px;
}

.text-container {
  padding: 50px; /* Adjust the padding as needed */
  justify-content: center;
}

.bold-text {
  font-size: 60px; /* Adjust the font size as needed */
  font-weight: bold;
  color: black;
  margin: 0;
}

.small-text {
  font-size: 25px; /* Adjust the font size as needed */
  color: black;
}
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.services-title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.service-button {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: white;
}

.service-button:hover {
  background-color: #333;
  color: white;
}

/* LoginModal.css */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.footerLogo {
  width: 20%; /* Adjust the logo size as needed */
  height: 50px; /* Adjust the logo size as needed */
  margin-right: 990px; /* Adjust the margin as needed */
  margin-left: 70px;
}

.footerColumns {
  display: flex;
  justify-content: center;
}

.footerColumn {
  margin: 0 20px;
}

.footerColumn h3 {
  margin-top: 0;
  color: black;
  font-weight: bold;
}

.footerColumn a {
  color: rgb(15, 1, 1);
  text-decoration: none;
  display: block;
  margin: 5px;
}
.footer {
  margin-top: 10px;
  margin-left: 50px;
  justify-content: center;
  background-color: white;
}
/* Small text below the logo in the footer */
.footer-logo-text {
  color: black; /* Text color */
  font-size: 16px; /* Adjust the font size as needed */
  margin-top: 15px; /* Adjust the top margin as needed */
  margin-right: 990px;
}
.footer-heading {
  text-align: center; /* Center the heading */
  color: #333; /* Text color */
  font-size: 39px; /* Adjust the font size as needed */
  font-weight: bolder;
  margin-top: 20px; /* Adjust the top margin as needed */
  margin-bottom: 10px;
}
/* Add these styles to your existing CSS */

/* Styles for the black author div with shadow effect */
.author-div {
  background-color: #000; /* Black background */
  color: white; /* Text color */
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9); /* Add shadow effect */
}

/* Styles for the author's name */
.author-name {
  font-size: 18px; /* Adjust the font size as needed */
  margin: 0;
  color: #aaa; /* Remove default margin to center the text vertically */
}

/* Recipe.css */
.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: hsl(80, 60%, 97%);
  text-align: center; /* Center the content horizontally */
}
.recipe-content {
  display: flex; /* Use flexbox to display children side by side */
  align-items: center;
}

.top-recipe-heading {
  font-weight: bold; /* Make the text bold */
  margin: 30px;
  font-size: 35px;
}

.recipe-image {
  margin-right: 50px;
  margin-bottom: 50px;
}
/* Add a hover effect */
.recipe-image img:hover {
  transform: scale(1.1);
}

.recipe-image img {
  width: 300px;
  height: 300px;
  margin-left: 80px;
  transition: transform 0.5s ease-in-out;
  border: 8px solid rgb(248, 247, 247); /* Add a black border */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); /* Add shadow effect on all sides */
}

.recipe-image img.small:hover {
  transform: scale(1.1);
}

.recipe-image img.big {
  transform: scale(1.1);
}

.recipe-info {
  flex-grow: 1;
  text-align: left;
}

.recipe-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline; /* Add underline */
}

.read-more-button {
  color: rgb(32, 30, 30);
  padding: 8px 16px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border: 3px double rgb(158, 146, 146);
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.read-more-button:active,
.read-more-button:focus {
  background-color: transparent;
  outline: none; /* Remove the default focus outline if desired */
}

.recipe-details {
  padding: 10px;
  margin-top: 10px;
  margin-right: 70px;

}

.recipe-details p {
  margin: 0;
  color: #0c0101;

}

.recipe-details.active {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100vh;
  margin: 0;
  padding: 20px;
  padding-top: 140px;
  margin-bottom: 20px;
}

.black-div {
  background-color: white;
  color: white;
  width: 50%;
  padding: 50px;
  margin-left: 20px;
  word-wrap: break-word;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Add shadow effect */
}
.black-div-item {
  color: #ff4081;
  padding: 20px;
}

.black-div-image {
  border: 2px solid black; /* Outer solid border */
  padding: 5px;
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
}

.black-div-item-name {
  font-size: 22px;
  color: black;
}
.black-div-item-des {
  font-size: 18px;
  color: black;
}
.black-div-item-ingredients {
  font-size: 18px;
  color: black;
}
.black-div h2 {
  color: #ff4081;
  font-size: 30px;
  font-weight: bolder;
}
.black-div p {
  font-size: 20px;
}
/* Add a CSS class for the white divs */
.white-div {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

/* Apply a hover effect to the white divs */
.white-div:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

.pink-div {
  background-color: white;
  width: 50%;
  padding: 50px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Add shadow effect */
}
.pink-div h2 {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #ff4081;
}

.button {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: #555;
}
/* Add a CSS class for the input fields */
.pink-div input {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); /* Add shadow around input fields */
  padding: 10px;
  font-size: 16px;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}
.pink-div textarea {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); /* Add shadow around input fields */
  padding: 10px;
  font-size: 16px;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

/* Change the color and size of buttons in pink-div */
.pink-div button {
  background-color: #ff4081; /* Change button color */
  color: white;
  padding: 10px 20px; /* Change button size */
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Add shadow effect */
}
.pink-div button:hover {
  background-color: #ff0066; /* Change button color on hover */
}
.delete-iconRecipe
{
  height: 20px;
  width: 20px;
}

.upload-button {
  background-color: #ff4081; /* Change button color */
  color: white;
  padding: 10px 20px; /* Change button size */
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 430px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

.upload-button:hover {
  background-color: #ff0066; /* Change button color on hover */
}
/* DietCalculator.module.css */
.dietcontainer {
  margin: 0 auto;
  text-align: center;
  display:flex;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 60px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  color: black; /* Set the text color to white */
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  outline: none;
  border-radius: 20px; 
  transition: background 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
  margin-bottom: 20px;
}

select:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}

.dietcontainer2 button {
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.dietcontainer2 button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}


.dietcontainer2 {
  width: 800px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  border-radius: 20px;
  padding: 20px;
}
.dietcontainer2 h1 {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius:10px ;
  padding: 10px;
}
.dietcontainer2 label {
  color: black;
  font-size: 20px;
}
.dietcontainer2 option {
  color: black;
  font-size: 17px;
  background-color: rgb(204, 237, 240);
}
.dietcontainer3 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  border-radius: 20px;
  padding: 20px;
}
.dietcontainer3 h2{
  color: black;
  font-size: 20px;
  font-weight: bold; 
  background-color: #ccc;
  border-radius:10px ;
  padding: 10px;
  margin-bottom: 20px;
}
.dietcontainer3 button{
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.dietcontainer3 button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
.dietcontainer3 ul{
  color: black;
  font-size: 15px;
  list-style-type: disc; /* Add bullet points */
  list-style-position: inside; /* Place bullets inside the ul */
  margin-bottom: 20px;
}
.dietcontainer4 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  border-radius: 20px;
  padding: 20px;
}
.dietcontainer4 h2{
  color: black;
  font-size: 20px;
  font-weight: bold; 
  background-color: #ccc;
  border-radius:10px ;
  padding: 10px;
  margin-bottom: 20px;
}
.dietcontainer5 {
  padding:20px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 16px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  border-radius: 20px;
}
/*Download page.css*/
.downloadpage {
  padding:20px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 16px;
  margin : 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  border-radius: 20px;
}
.downloadpage button {
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.downloadpage button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
/* styles/Home.module.css */
.containerItem {
  display: grid;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px; /* Add border radius for rounded corners */
}

.containerItem h1 {
text-align: center;
padding-top: 140px;
font-size: 50px;
}

.columnItem {
  flex: 3;
  margin: 10px;
}

.itemItem {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px;
}
.itemItem button{
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.itemItem button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
.itemItem img {
  max-width: 40%; /* Adjusted to use full width of the container */
  height: auto;
  border-radius:20px; /* Add border-radius for rounded corners if desired */
}

.nextRow {
  flex-basis: 20%;
}
.popupfood {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px;
}

.popupfood-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 80%;
  width: 50%;
}


.popupfood-content img {
  width: 500px; /* Adjust as needed */
  height: 500px;
  border-radius: 5px;
  z-index: 1;
}

.popupfood-content p {
  white-space: wrap; /* Prevent line breaks */
  overflow:visible; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}

.popupfood-content h2 {
  position: absolute;
  top: 20%;
  left: 79%;
  margin-bottom: 30px;
  transform: translate(-50%, -50%);
  color: rgb(187, 33, 33);
  font-size: 45px;
}

.popupfood-content h3 {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: rgb(187, 33, 33);
  font-size: 24px;
}

.popupfood-content button {
  position: absolute;
  top: 48%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.popupfood-content button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
.closepopupfood {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  cursor: pointer;
  color: rgb(206, 14, 14);
  z-index: 3;
}
/* styles/Doctor.module.css */
.doctor-containerItem {
  display: grid;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px; /* Add border radius for rounded corners */
}


.doctor-columnItem {
  flex: 3;
  margin: 10px;
}

.doctor-itemItem {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px;
}
.doctor-itemItem button{
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.doctor-itemItem button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
.doctor-itemItem img {
  max-width: 40%; /* Adjusted to use full width of the container */
  height: auto;
  border-radius:20px; /* Add border-radius for rounded corners if desired */
}

.nextRow {
  flex-basis: 20%;
}
.doctor-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid #ddd; /* Add a border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  border-radius: 8px;
}

.doctor-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 90%;
  width: 70%;
}


.doctor-popup-content img {
  width: 500px; /* Adjust as needed */
  height: 500px;
  border-radius: 5px;
  z-index: 1;
}

.doctor-popup-content p {
  white-space: wrap; /* Prevent line breaks */
  overflow:visible; /* Hide overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
}

.doctor-popup-content h2 {
  position: absolute;
  top: 20%;
  left: 75%;
  margin-bottom: 30px;
  transform: translate(-50%, -50%);
  color: rgb(187, 33, 33);
  font-size: 40px;
}

.doctor-popup-content h3 {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: rgb(187, 33, 33);
  font-size: 24px;
}

.doctor-popup-content button {
  position: absolute;
  top: 48%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  color: black;
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.doctor-popup-content button:hover {
  background: linear-gradient(45deg,rgb(58, 229, 241), pink, white); /* Change gradient on hover */
}
.doctor-closepopup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  cursor: pointer;
  color: rgb(206, 14, 14);
  z-index: 3;
}
/* styles.css */

.profilepopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/* Add this CSS to your stylesheets or component styles */
.login-icon-background {
  width: 30px; /* Adjust the width and height based on your design */
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color:  #059669; /* Set your desired background color */
  color: #fff; /* Set the text color to contrast with the background */
  font-size: 14px; /* Adjust the font size as needed */
  font-weight: bold;
}

.profilepopup-content {
  display: flex;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px;
  max-width: 100vw;
  height: 400px;
  position: relative;
  overflow-x: hidden;
}

.left-half {
  flex: 1;
  padding: 20px;
  position: relative;
  width: 50%;
  text-align: center;
  
}

.right-half {
  flex: 1;
  padding: 20px;
  background-color: #09ac78; /* Green background color */
  color: white;
  border-radius: 8px;
}

.profilepopup input {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  background-color: #efefef;
  border-radius: 5px;
  font-size: medium;
}


.profilepopup button {
  border: none;
  padding: 15px;
  margin-top: 5px;
  background-color: #059669;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
.profilepopup button:hover {
  outline: none;
  background-color: #24a57c;
}

.profilepopup h2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 2rem;
  margin: 10px 0px;
}

.profilepopup p {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 10px 0px;
  padding-top: 20px;
}

.closeprofilepopup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px; /* Adjust the font size as needed */
  cursor: pointer;
  color: rgb(245, 234, 234);
  background-color: red;
  border: none;
  border-radius: 10%; /* Use border-radius to create a rounded shape */
  padding: 2px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Add this to your styles.css or create a new CSS file */

.profiledeatailpopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.profiledeatilpopup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.closeprofiledeatilpopup {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px;
  cursor: pointer;
  color: #a51313; /* Adjust the color as needed */
}

.profiledeatilpopup h2 {
  margin-bottom: 20px;
}

.profiledeatilpopup p {
  margin-bottom: 15px;
}

.profiledeatilpopup ul {
  list-style-type: none;
  padding: 0;
}

.profiledeatilpopup li {
  font-size: 18px;
  margin-bottom: 10px;
}
.settings-popup {
  flex: 1;
  padding: 20px;
  background-color: #09ac78; /* Green background color */
  color: white;
  border-radius: 8px;
}
.settings-popup input {
  margin: 20px;
  border: none;
}
.settings-button{
  height: 20px;
  width: 20px;

}

.outercontainertemplet{
  
  margin-top: 0px; /* Adjust this margin as needed */
  display: flex;
  align-items: center;
  width: auto;
}
.button-containertemplet{
  position: absolute;
  top: 50px;
  left: 60px;
  right: 50px;
  width: 90%;
  background-color: white; /* White background with some transparency */
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 80px; /* Adjust the value as needed for the desired roundness */
  box-shadow: inset 0 0 10px rgba(93, 97, 100, 0.3);
}

/* styles/globals.css Home Card */
.Cardbody {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
}

.card {
  border: 0px solid #ddd;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden; /* Ensure child elements don't overflow */
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card  text {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin: 550px;
}

.text-section {
  flex-grow: 1;
  padding: 50px;
}

.card p {
  margin-bottom: 10px;
}

.card button {
  font-size: 15px;
  background: linear-gradient(45deg, white, rgb(253, 211, 218), rgb(180, 241, 228)); /* Add a gradient background */
  border: 2px solid blueviolet; 
  border-radius: 10px; 
  padding: 10px 20px;
  cursor: pointer;
}

.image-section img {
  width: 450px; /* Adjust the width as needed */
  height: 250px; /* Adjust the height as needed */
  object-fit: cover;
  padding: 20px;
  border: 1px solid ;
  border-color: #adabab;
  border-radius: 30px;  /* Makes the image round */

}

.card.hovered {
  box-shadow: 0 0 10px rgba(103, 104, 105, 0.5);
}
.card-carousel {
  background-color: #fff;
}

.carousel-container {
  align-items: center;
  justify-content: center;
}

.card-with-buttons {
  position: relative;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding:0;
  border: none;
  cursor: pointer;
  border-radius: 100%; /* Make the button round */
}
.prev-button img,
.next-button img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 100%; /* Make the button round */
  opacity: 30%;
}
.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

/* styles/classes.module.css */
.Classescontainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.Classescontainer h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

.Classescontainer select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.Classescontainer h2 {
  margin-top: 20px;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.videoItem {
  flex: 1 0 calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  overflow: hidden; /* Ensure rounded corners are applied */
  border-radius: 10px; /* Set the border-radius as per your preference */
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle box shadow */
}

iframe {
  width: 100%;
  height: 169px;
  border: none; /* Remove iframe border */
  border-radius: 10px; /* Match the border-radius of the container */
}


/* styles/GalleryComponent.module.css */
/* Add this to your existing CSS or create a new file, e.g., styles/GalleryComponent.module.css */
.gallery-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
.gallerycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.image-container {
  margin: 10px;
  overflow: hidden;
  border-radius: 10%;
}

.image-container img{
  height: 300px;
  width: 300px;
}

.rounded-image {
  border-radius: 10%;
}
.gallery-title {
  margin-top: 16px;
}

.gallery-next-button {
  margin-top: 16px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.gallery-next-button img {
height: 24px;
width: 24px;
}
/* styles.css restaurant-list */

.restaurant-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.restaurant-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.restaurant-list {
  list-style: none;
  padding: 0;
}

.restaurant-list-item {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.selected-restaurant-details {
  margin-top: 20px;
}

.selected-restaurant-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
/* styles/Food Deals.module.css */
/* styles/styles.module.css */
.fooddeal-container {
  max-width: auto;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid transparent;/* Border color can be adjusted */
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.1); /* Shadow color and intensity can be adjusted */
}
.fooddeal-container h1 {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid transparent;/* Border color can be adjusted */
  box-shadow: 0 0 10px rgba(43, 42, 42, 0.1);
}
.fooddeal-container p {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color: #34b48c;
  margin-bottom: 20px;
  padding: 10px;
}

.fooddeal-categories {
  display: flex;
  flex: 1;
  justify-content: space-between;
  
}
.fooddeal-category h2 {
  font-size: 24px;
  margin-left: 40px;
  margin-bottom: 10px;
  text-decoration: underline; /* Add underline */
}

.fooddeal-category p {
  margin-bottom: 15px;
  font-size: larger;
  font-weight: bolder;
  color: #34b48c; 
  margin-right: 80px;
}

.fooddeal-items {
  list-style: none;
  padding: 10;
}


.fooddeal-items button {
  list-style: none;
  padding: 10;
  background-color:white;
  margin-left: 15px;
  border-color: #e5ebe9;
  font-size: 15px;
}

.fooddeal-items li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.fooddeal-items li img {
  margin-right: 10px;
}
.fooddeal-order {
  flex: 1;
  text-align: center;

}

.fooddeal-order h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid transparent;/* Border color can be adjusted */
  box-shadow: 0 0 20px rgba(19, 18, 18, 0.1);
}

.fooddeal-order ul {
  list-style: none;
  padding: 0;
}

.fooddeal-order li {
  margin-bottom: 15px;
}

.fooddeal-totalPrice {
  font-size: 18px;
  margin-bottom: 20px;
}

.fooddeal-placeOrderBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.fooddeal-placeOrderBtn:hover {
  background-color: #45a049;
}
/* components/PaymentPopup.css */

.payment-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-popup-content {
  text-align: center;
}
.payment-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust z-index to make sure it's above other content */
}

.payment-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding: 5px 5px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
}

.payment-close-popup:hover {
  color: #333;
  background-color:#e60000 ;
}

/* You can add more styles for paragraphs, buttons, etc. based on your design */
/* pages/cart.css */
.cart-container {
  padding: 60px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}
.cart-content {
  max-width: 600px;
  max-height: 300px;
}

.cart-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #45a049;
  display: inline-block;
}

.cart-container ul {
  list-style: none;
  padding: 0;
}

.cart-container li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cart-container li img {
  margin-right: 10px;
  border-radius: 4px;
}

.cart-container button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.cart-container button:hover {
  background-color: #e60000;
}

.cart-container p {
  margin-top: 20px;
  font-size: 18px;
}

/* You can add more styles for links, modals, etc. based on your design */

